<% include ../partial/header %>

<div class="container">
<div class="row_banner_section slideshow-container">
	<% for(i=0;i<=campgrounds.length-1;i++){ %>
	<%if(i===3){break};%>
	<%if(campgrounds[i].activity_status=='active'){%>
			<div class="banner_section mySlides">
				<div class="banner_img">
				<img src="<%= campgrounds[i].image %>" alt="<%=campgrounds[i].alt%>">
				</div>
				<div class="name_of_camp">
					<div class="blogtype_name">
					 <p><a href="/blogs/<%=campgrounds[i]._id%>"><%= campgrounds[i].blogtype %></a></p>
					 </div>
					 <div class="blog_title">
				 	 <p><a href="/blogs/<%=campgrounds[i]._id%>"><h4><%= campgrounds[i].name.substr(0, 70) %></h4></a></p>
					</div>
					<div class="description_sec">
					 <p><%=(campgrounds[i].description.replace(/<[^>]+>/g, '')).substr(0, 100) %>....</p>
					 </div>
			    </div>
			</div>
			<%}%>		
	<% }; %>
	
	<div class="dot_class">	
	<% for(i=0;i<=campgrounds.length-1;i++){ %>
	<%if(i===3){break};%>
	  <span class="dot" ></span> 		
	<% }; %>
	</div>
</div>




	<div class="row filter_listing_container navbar_bar" id="row filter_listing_container">
		<div class="filter_listing dropdown_bar" id="filter_listing">

			<button class="dropbtn_bar">Browse Categories<i class="fa fa-caret-down"></i>
				</button>
				<form method="post" name="filter_value_form_mobile" action="/blogs/category/" class="mobile_filter_form_true">
				<select class="btncontainer" name="filter_value" onchange="myFunction2()">
					<option  value="all" <%if(filter_value=='All'){%>selected<%}%> disabled="" >Select Category</option>
					<option  value="all" >ALL</option>
					<option  value="Health & fitness" <%if(filter_value=='Health & fitness'){%>selected<%}%>>Health & Fitness</option>
					<option  value="Travel" <%if(filter_value=='Travel'){%>selected<%}%> >Travel</option>
					<option  value="Lifestyle & Leisure" <%if(filter_value=='Lifestyle & Leisure'){%>selected<%}%>>Lifestyle & Leisure</option>
					<option  value="Music" <%if(filter_value=='Music'){%>selected<%}%>>Music</option>
					<option  value="Technologies" <%if(filter_value=='Technologies'){%>selected<%}%>>Technologies</option>
					<option  value="Design & Art" <%if(filter_value=='Design & Art'){%>selected<%}%>>Design & Art</option>
					<option  value="Self Development" <%if(filter_value=='Self Development'){%>selected<%}%>>Self Development</option>
					<option  value="Entertainment" <%if(filter_value=='Entertainment'){%>selected<%}%>>Entertainment</option>
					<option  value="Business" <%if(filter_value=='Business'){%>selected<%}%> >Business</option>
					</select>
				</form>


							
							<form method="post" name="filter_value_form" action="/blogs/category/" class="filter_form_true dropdown-content_bar">
								<div class="filter_listing_element <%if(filter_value=='All'){%>live<%}%>">
							<label for="All">All</label>
							<input type="radio" name="filter_value" value="All" id="All" onchange="myFunction()">
							</div>


 
							<div class="filter_listing_element <%if(filter_value=='Health & fitness'){%>live<%}%>">
							<label for="Health_&_fintness">Health & fitness</label>
							<input type="radio" name="filter_value" value="Health & fitness" id="Health_&_fintness" onchange="myFunction()">
							</div>	

							<div class="filter_listing_element <%if(filter_value=='Travel'){%>live<%}%>">
							<label for="Travel">Travel</label>
							<input type="radio" name="filter_value" value="Travel" id="Travel" onchange="myFunction()">
							</div>

							<div class="filter_listing_element <%if(filter_value=='Lifestyle & Leisure'){%>live<%}%>">
							<label for="Lifestyle_$_Leisure">Lifestyle & Leisure</label>
							<input type="radio" name="filter_value" value="Lifestyle & Leisure" id="Lifestyle_$_Leisure" onchange="myFunction()">
							</div>

								<div class="filter_listing_element <%if(filter_value=='Music'){%>live<%}%>">
							<label for="Music">Music</label>
							<input type="radio" name="filter_value" value="Music" id="Music" onchange="myFunction()">
							</div>

								<div class="filter_listing_element <%if(filter_value=='Technologies'){%>live<%}%>">
							<label for="Technologies">Technologies</label>
							<input type="radio" name="filter_value" value="Technologies" id="Technologies" onchange="myFunction()">
							</div>

								<div class="filter_listing_element <%if(filter_value=='Design & Art'){%>live<%}%>">
							<label for="Design_&_Art">Design & Art</label>
							<input type="radio" name="filter_value" value="Design & Art" id="Design_&_Art" onchange="myFunction()">
							</div>

								<div class="filter_listing_element <%if(filter_value=='Self Development'){%>live<%}%>">
							<label for="Self_Development">Self Development</label>
							<input type="radio" name="filter_value" value="Self Development" id="Self_Development" onchange="myFunction()">
							</div>

								<div class="filter_listing_element <%if(filter_value=='Entertainment'){%>live<%}%>">
							<label for="Entertainment">Entertainment</label>
							<input type="radio" name="filter_value" value="Entertainment" id="Entertainment" onchange="myFunction()">
							</div>

							<div class="filter_listing_element <%if(filter_value=='Business'){%>live<%}%>">
							<label for="Business">Business</label>
							<input type="radio" name="filter_value" value="Business" id="Business" onchange="myFunction()">
							</div>
					</form>		

		</div>	
	</div>

<div class="custom_container_for_templeate">
<div class="row text-center">

	<% campgrounds.forEach(function(campground){ %>
	<% if(campground.activity_status=='active'){%>
		<div class="<%= campground.blogtype %> templete_container">
			<a href="/blogs/<%=campground._id%>">
			<div class="thumbnail">
				<div class="templete_image_container">
				<img data-src="<%= campground.image %>" class="lazy" alt="<%=campground.alt%>">
				</div>
				<div class="templete_descrip_container">
				<div class="blogtype_name_for_templeate">
					 <p><%= campground.blogtype %></p>
				</div>
				<div class="caption">
			 <h4><%= campground.name.substr(0, 70) %></h4>
			    </div>
			    <div class="description_sec">
					 <p><%= (campground.description.replace(/<[^>]+>/g, '')).substr(0, 100) %>....</p>
				</div>
				</div>
			</div></a>
		</div>
<%}%>
	<% }); %>

	</div>
</div>
</div>

 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
<script>
	   $(function() {
        $('.lazy').Lazy();
    });
</script>


<script>

function myFunction(){
	var radioValue = $("input[name='filter_value']:checked").val();
	if(radioValue=="Health & fitness"){
	var link = '/blogs/category/Health-&-fitness';
}
else if(radioValue=="Lifestyle & Leisure"){
		var link = '/blogs/category/Lifestyle-&-Leisure';
}
else if(radioValue=="Design & Art"){
	var link = '/blogs/category/Design-&-Art';
}
else if(radioValue=="Self Development"){
		var link = '/blogs/category/Self-Development';
}
else{
	var link = '/blogs/category/'+radioValue;
}

	 $("form[name='filter_value_form']").attr("action", link);
$("form[name='filter_value_form']").submit();

}


function myFunction2(){
	var iteam=$('select[name="filter_value"] option:selected').val();
	var link = '/blogs/category/'+iteam;
	 $("form[name='filter_value_form']").attr("action", link);
$("form[name='filter_value_form']").submit();

}



// function kdjflklksjdflkas(){
// var iteam=$('select[name="filter_value"] option:selected').val();
// filterSelection(iteam);
// console.log(iteam);
// }

// filterSelection("all")
// function filterSelection(c) {
//   var x, i;
//   x = document.getElementsByClassName("filterDiv");
//   if (c == "all") c = "";
//   for (i = 0; i < x.length; i++) {
//     w3RemoveClass(x[i], "show");
//     if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
//   }
// }

// function w3AddClass(element, name) {
//   var i, arr1, arr2;
//   arr1 = element.className.split(" ");
//   arr2 = name.split(" ");
//   for (i = 0; i < arr2.length; i++) {
//     if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
//   }
// }

// function w3RemoveClass(element, name) {
//   var i, arr1, arr2;
//   arr1 = element.className.split(" ");
//   arr2 = name.split(" ");
//   for (i = 0; i < arr2.length; i++) {
//     while (arr1.indexOf(arr2[i]) > -1) {
//       arr1.splice(arr1.indexOf(arr2[i]), 1);     
//     }
//   }
//   element.className = arr1.join(" ");
// }
// var btnContainer = document.getElementById("myBtnContainer");
// var btns = btnContainer.getElementsByClassName("filter_listing_element");
// for (var i = 0; i < btns.length; i++) {
//   btns[i].addEventListener("click", function(){
//     var current = document.getElementsByClassName("live");
//     current[0].className = current[0].className.replace(" live", "");
//     this.className += " live";
//   });
// }
</script>
   

<% include ../partial/footer %>