<% include ../partial/header %>

<div class="container">
<div class="row_banner_section slideshow-container">
	<% for(i=0;i<=2;i++){ %>
	<% if(campgrounds[i].activity_status=='active'){%>
			<div class="banner_section mySlides">
				<div class="banner_img">
				<img src="<%= campgrounds[i].image %>" alt="<%=campgrounds[i].alt%>">
				</div>
				<div class="name_of_camp">
					<div class="blogtype_name">
					 <p><a href="/blogs/<%=campgrounds[i]._id%>"><%= campgrounds[i].blogtype %></a></p>
					 </div>
					 <div class="blog_title">
				 	 <p><a href="/blogs/<%=campgrounds[i]._id%>"><h4><%= campgrounds[i].name.substr(0, 70) %></h4></a></p>
					</div>
					<div class="description_sec">
					 <p><%=(campgrounds[i].description.replace(/<[^>]+>/g, '')).substr(0, 100) %>....</p>
					 </div>
			    </div>
			</div>
			<%}%>
	<% }; %>
	<div class="dot_class">
	  <span class="dot" ></span> 
	  <span class="dot" ></span> 
	  <span class="dot" ></span> 
	</div>
</div>




	<div class="row filter_listing_container navbar_bar" id="row filter_listing_container">
		<div class="filter_listing dropdown_bar" id="filter_listing">

			<button class="dropbtn_bar">Browse Categories<i class="fa fa-caret-down"></i>
				</button>
				
				<select class="btncontainer" name="filter_value" onchange="kdjflklksjdflkas()">
					<option  value="all" disabled="">Select Category</option>
					<option  value="all">ALL</option>
					<option  value="Entertainment">Entertainment</option>
					<option  value="Health & fintness">Health & Fitness</option>
					<option  value="Travel">Travel</option>
					<option  value="Lifestyle $ Leisure">Lifestyle $ Leisure</option>
					<option  value="Music">Music</option>
					<option  value="Technologies">Technologies</option>
					<option  value="Design & Art">Design & Art</option>
					<option  value="Self Development">Self Development</option>
					<option  value="Entertainment">Entertainment</option>
					<option  value="Business">Business</option>

					</select>


				<form id="myBtnContainer" class="filter_form_true dropdown-content_bar">
							

					
							
								<div class="filter_listing_element live">
							<label for="All">All</label>
							<input type="radio" name="filter_value" value="All" id="All" onchange="filterSelection('all')">
							</div>


 
							<div class="filter_listing_element">
							<label for="Health_&_fintness">Health & fintness</label>
							<input type="radio" name="filter_value" value="Health & fintness" id="Health_&_fintness" onchange="filterSelection('Health & fintness')">
							</div>	

							<div class="filter_listing_element">
							<label for="Travel">Travel</label>
							<input type="radio" name="filter_value" value="Travel" id="Travel" onchange="filterSelection('Travel')">
							</div>

							<div class="filter_listing_element">
							<label for="Lifestyle_$_Leisure">Lifestyle $ Leisure</label>
							<input type="radio" name="filter_value" value="Lifestyle $ Leisure" id="Lifestyle_$_Leisure" onchange="filterSelection('Lifestyle $ Leisure')">
							</div>

								<div class="filter_listing_element">
							<label for="Music">Music</label>
							<input type="radio" name="filter_value" value="Music" id="Music" onchange="filterSelection('Music')">
							</div>

								<div class="filter_listing_element">
							<label for="Technologies">Technologies</label>
							<input type="radio" name="filter_value" value="Technologies" id="Technologies" onchange="filterSelection('Technologies')">
							</div>

								<div class="filter_listing_element">
							<label for="Design_&_Art">Design & Art</label>
							<input type="radio" name="filter_value" value="Design & Art" id="Design_&_Art" onchange="filterSelection('Design & Art')">
							</div>

								<div class="filter_listing_element">
							<label for="Self_Development">Self Development</label>
							<input type="radio" name="filter_value" value="Self Development" id="Self_Development" onchange="filterSelection('Self Development')">
							</div>

								<div class="filter_listing_element">
							<label for="Entertainment">Entertainment</label>
							<input type="radio" name="filter_value" value="Entertainment" id="Entertainment" onchange="filterSelection('Entertainment')">
							</div>

							<div class="filter_listing_element">
							<label for="Business">Business</label>
							<input type="radio" name="filter_value" value="Business" id="Business" onchange="filterSelection('Business')">
							</div>
					</form>		

		</div>	
	</div>

<div class="custom_container_for_templeate">
<div class="row text-center">

	<% campgrounds.forEach(function(campground){ %>
	<% if(campground.activity_status=='active'){%>
		<div class="filterDiv <%= campground.blogtype %> templete_container">
			<a href="/blogs/<%=campground._id%>">
			<div class="thumbnail">
				<div class="templete_image_container">
				<img src="<%= campground.image %>" alt="<%=campground.alt%>">
				</div>
				<div class="templete_descrip_container">
				<div class="blogtype_name_for_templeate">
					 <p><%= campground.blogtype %></p>
				</div>
				<div class="caption">
			 <h4><%= campground.name.substr(0, 70) %></h4>
			    </div>
			    <div class="description_sec">
					 <p><%= (campground.description.replace(/<[^>]+>/g, '')).substr(0, 100) %>....</p>
				</div>
				</div>
			</div></a>
		</div>
<%}%>
	<% }); %>

	</div>
</div>
</div>

<script>


// if( $(".templete_image_container").hasClass('.show')){

// 	$(".templete_image_container").css("background","red");

// }

// $('.templete_container').each(function(){
//     if($('.templete_container').hasClass('show')) {
//         $('.templete_container').css("background","red");
//     } 
// });



// if ($(".templete_image_container").hasClass('show')) {
// 	$(".templete_image_container").css("background","red");
// }

function kdjflklksjdflkas(){
var iteam=$('select[name="filter_value"] option:selected').val();
filterSelection(iteam);
console.log(iteam);
}

filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("filter_listing_element");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("live");
    current[0].className = current[0].className.replace(" live", "");
    this.className += " live";
  });
}
</script>

<% include ../partial/footer %>