<!DOCTYPE html>
<html>
<head>
	<title>.::VYBE::.</title>
   <!-- <meta name="viewport" content="width=device-width, initial-scale=0.8"> -->
   <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.5/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/css/descipationpage.css">
</head>
<body>

<div id="top">	
        <header class="">
          <div class="wrapper">
            <div class="logo">
              <a href="Home.html" class="black"><img src="/images/logo.png" alt=""></a>
              <a href="Home.html" class="white"><img src="/images/logo-white.png" alt=""></a>
            </div>
            <nav>
              <div class="bars">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
              <div class="menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Our Listings</a></li>
                  <li><a href="#">Amenities</a></li>
                  <li><a href="#">How It Works</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
</div>

<div class="des_page container">
	<div class="container_for_blog_message">
<div class="des_page row">

	<div class="des_page description_show">
		<div class="des_page caption-full">
			<div class="des_page blog-type"><p><%= campgrounds.blogtype%></p></div>
			<div class="des_page blog-name"><h1><%= campgrounds.name%></h1></div>
			
			<div class="des_page author_details">
			<div class="author_image_container">
				<img src="/images/author-img.png">
				<div class="autor_name_sec">
					<p><b>Mark Galieo</b></p>
					<p>Vybeliving #232 Mission Street</p>
				</div>
			</div>
			<div class="author_time_container">
				<img src="/images/calander-img.png">
				<p>10 Sep 2019</p>
			</div>	
			</div>
		</div>		
	</div>
</div></div></div>

		<div class="des_page row header_banner">
	<img class="des_page img-responsive" src="<%=campgrounds.image%>" alt="<%=campgrounds.alt%>">
</div>
		
<div class="des_page container">
	<div class="container_for_blog_message">
<div class="des_page row">

		<div class="des_page blog-message"><%-campgrounds.description%></div>
<!-- 	<div class="des_page well">
		<%campgrounds.comments.forEach(function(comments){%>
		<div class="des_page row">
			<div class="des_page col-md-12">
				<strong><%=comments.author%></strong>
				<span class="des_page pull-right">10 days ago..</span>
				<p><%=comments.text%></p>
			</div>
		</div>
		<%}); %>
	</div> -->

</div>

<div class="share_container">
	<p class="share_message">Share this:</p>
	<table class="table table-bordered">
		<thead>
		<th><img src="/images/fb-icn.png"></th>
		<th><img src="/images/twitter-icn.png"></th>
		<th><img src="/images/linked-in-icn.png"></th>
		<th><img src="/images/3dot-icn.png"></th>
		</thead>
	</table>
</div>

<div class="comment_form_container">
	<div class="leave_message">
		<p>Leave a Reply</p>
	</div>
	<div class="labled_message_for_comment">
		<p>Your email address will not be published.Required fields are marked*</p>
	</div>
 <form  method="POST" action="/blogs/<%=campgrounds._id%>/comments">
	<div class="text_area_container">
		<textarea rows="5" cols="100" name="comment[text]" id="textarea_comment" class="textarea_comment" placeholder="Comment*"></textarea>  
	</div>
	<div class="input_comment_container_parent">
	<div class="input_comment_container">
		<input type="text" name="comment[author]" class="input_commet" placeholder="Name*">
	</div>
	<div class="input_comment_container">
		<input type="text" name="comment[email]" class="input_commet" placeholder="Email*">
	</div>
	</div>
	<div class="comment_submit_button_container">
		<button class="comment_submit_button" type="submit">submit</button>
	</div>


</form>
</div>

</div>

<hr>

<div class="people_also_read_container">
	<div class="people_also_read_message"><p>People also read</p></div>

</div>

<div class="row des_page_des_sec">
<% for(i=0 ;i<=1;i++){%>
<div class="col-md-6">
<div class="des_sec temp_container">
			<a href="/blogs/<%=peopleread[i]._id%>">
			<div class="thumbnail">
				<div class="des_sec templete_image_container">
				<img src="<%= peopleread[i].image %>" alt="<%=peopleread[i].alt%>">
				</div>
				<div class="des_sec templete_descrip_container">
				<div class="des_sec blogtype_name_for_templeate">
					 <p><%= peopleread[i].blogtype %></p>
				</div>
				<div class="des_sec caption">
			 <h4><%= peopleread[i].name %></h4>
			    </div>
			    <div class="des_sec description_sec">
					 <p><%- peopleread[i].description.substr(0, 100) %>....</p>
				</div>
				</div>
			</div></a>
		</div>
</div>
<%};%>
</div>


</div>


<% include ../partial/footer %>
